{% liquid
    assign product_form_id = 'product-form-' | append: section.id
%}

{% unless product.has_only_default_variant %}
    {% for option in product.options_with_values %}
        {%- liquid
            assign swatch_count = option.values | map: 'swatch' | compact | size
            assign picker_type = block.settings.picker_type

            if swatch_count > 0 and block.settings.swatch_shape != 'none'
                if block.settings.picker_type == 'dropdown'
                    assign picker_type = 'swatch_dropdown'
                else
                    assign picker_type = 'swatch'
                endif
            endif
        -%}

        {%- if picker_type == 'swatch' -%}
            <fieldset class="js product-form__input product-form__input--swatch">
                <legend class="form__label">
                    {{ option.name }}:
                    <span data-selected-value>
                        {{- option.selected_value -}}
                    </span>
                </legend>

                {% for value in option.values %}
                    {% liquid

                        if value.swatch.image
                            assign image_url = value.swatch.image | image_url: width: 50
                            assign swatch_value = 'url(' | append: image_url | append: ')'
                            assign swatch_focal_point = value.swatch.image.presentation.focal_point
                        elsif value.swatch.color
                            assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
                        else
                            assign swatch_value = null
                        endif

                        assign option_disabled = true
                        if value.available
                            assign option_disabled = false
                        endif
                    %}

                    {%- capture input_id -%}
                        {{ section.id }}-{{ option.position }}-{{- forloop.index0 -}}
                    {% endcapture %}
                    {%- capture input_name -%}
                        {{ option.name }}-{{ option.position }}
                    {%- endcapture  -%}

                    {%- capture input_dataset -%}
                        data-product-url="{{ value.product_url }}"
                        data-option-value-id="{{ value.id }}"
                    {% endcapture %}

                    {% capture label_unavailable %}
                        <span class="visually-hidden label-unavailable">
                            {{- 'products.product.variant_sold_out_or_unavailable' | t -}}
                        </span>
                    {% endcapture %}

                    {%- capture help_text -%}
                        <span class="visually-hidden">{{ value | escape }}</span>
                        {{ label_unavailable }}
                    {% endcapture %}

                    {% render 'swatch-input',
                            id: input_id,
                            name: input_name,
                            value: value | escape,
                            swatch: value.swatch,
                            product_form_id: product_form_id,
                            checked: value.selected,
                            visually_disabled: option_disabled,
                            shape: block.settings.swatch_shape,
                            help_text: help_text,
                            additional_props: input_dataset
                    %}
                {% endfor %}
                <span class="sp-plus-icon">
                    {{- 'icon-close.svg' | inline_asset_content -}}
            </span>
            </fieldset>

        {% elsif picker_type == 'button' %}
            <fieldset class="js product-form__input product-form__input--pill">
                <legend class="form__label">
                    {{ option.name }}
                </legend>

                {% for value in option.values %}
                    {% liquid

                        if value.swatch.image
                            assign image_url = value.swatch.image | image_url: width: 50
                            assign swatch_value = 'url(' | append: image_url | append: ')'
                            assign swatch_focal_point = value.swatch.image.presentation.focal_point
                        elsif value.swatch.color
                            assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
                        else
                            assign swatch_value = null
                        endif

                        assign option_disabled = true
                        if value.available
                            assign option_disabled = false
                        endif
                    %}

                    {%- capture input_id -%}
                        {{ section.id }}-{{ option.position }}-{{- forloop.index0 -}}
                    {% endcapture %}
                    {%- capture input_name -%}
                        {{ option.name }}-{{ option.position }}
                    {%- endcapture  -%}

                    {%- capture input_dataset -%}
                        data-product-url="{{ value.product_url }}"
                        data-option-value-id="{{ value.id }}"
                    {% endcapture %}

                    {% capture label_unavailable %}
                        <span class="visually-hidden label-unavailable">
                            {{- 'products.product.variant_sold_out_or_unavailable' | t -}}
                        </span>
                    {% endcapture %}

                    <input type="radio"
                           id="{{ input_id }}"
                           name="{{ input_name | escape }}"
                           value="{{ value | escape }}"
                           form="{{ product_form_id }}"
                            {% if value.selected %} checked {% endif %}
                            {% if option_disabled %} disabled {% endif %}
                            {% if option_disabled %} class="disabled" {% endif %}
                            {{ input_dataset }}/>
                    <label for="{{ input_id }}">
                        {{ value -}}
                        {% if option_disabled %}{{ label_unavailable }}{% endif %}
                    </label>
                {% endfor %}
                <span class="sp-plus-icon">
                    {{- 'icon-close.svg' | inline_asset_content -}}
            </span>
            </fieldset>

        {% else %}
            <div class="product-form__input product-form__input--dropdown">
                <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                    {{ option.name }}
                </label>
                <div class="select">
                    {% if picker_type == 'swatch_dropdown' %}
                        <span data-selected-value class="dropdown-swatch">
                            {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
                        </span>
                    {% endif %}
                    <select id="Option-{{ section.id }}-{{ forloop.index0 }}" class="select__select"
                            name="options[{{ option.name | escape }}]" form="{{ product_form_id }}">

                        {% for value in option.values %}
                            {% liquid
    
                                if value.swatch.image
                                    assign image_url = value.swatch.image | image_url: width: 50
                                    assign swatch_value = 'url(' | append: image_url | append: ')'
                                    assign swatch_focal_point = value.swatch.image.presentation.focal_point
                                elsif value.swatch.color
                                    assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
                                else
                                    assign swatch_value = null
                                endif

                                assign option_disabled = true
                                if value.available
                                    assign option_disabled = false
                                endif
                            %}

                            {%- capture input_id -%}
                                {{ section.id }}-{{ option.position }}-{{- forloop.index0 -}}
                            {% endcapture %}
                            {%- capture input_name -%}
                                {{ option.name }}-{{ option.position }}
                            {%- endcapture  -%}

                            {%- capture input_dataset -%}
                                data-product-url="{{ value.product_url }}"
                                data-option-value-id="{{ value.id }}"
                            {% endcapture %}

                            {% capture label_unavailable %}
                                <span class="visually-hidden label-unavailable">
                                    {{- 'products.product.variant_sold_out_or_unavailable' | t -}}
                                </span>
                            {% endcapture %}

                            <option id="{{ input_id }}"
                                    value="{{ value | escape }}"
                                    {% if value.selected %} selected="selected" {% endif %}
                                    {% if swatch_value and swatch_focal_point %}
                                        data-swatch-focal-point="{{ swatch_focal_point }}"
                                        data-swatch-value="{{ swatch_value }}"
                                    {% endif %}
                                    {% if option_disabled %} disabled {% endif %}
                                    {{ input_dataset }}
                            >
                                {% if option_disabled %}
                                    {{- 'products.product.value_unavailable' | t: option_value:value -}}
                                {% else %}
                                    {{- value -}}
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                    <span class="svg-wrapper">
                        {{- 'icon-caret.svg' | inline_asset_content -}}
                    </span>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <script type="application/json" data-selected-variant>
        {{ product.selected_or_first_available_variant | json }}
    </script>
{% endunless %}