{% schema %}
{
  "name": "Colorful Kicks Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "product_image",
      "label": "Left Side Product Image"
    },
    {
      "type": "image_picker",
      "id": "lifestyle_image",
      "label": "Right Sider Lifestyle Image"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "default": "COLORFUL KICKS,CLOUD-LIKE COMFORT"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Description",
      "default": "Discover our vibrant collection of colorblocked shoes, designed with plush memory foam for all-day comfort. With a wide range of bold shades, it’s easy to pick your perfect pair."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Browse Collection"
    },
    {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
  ],
  "presets": [
    {
      "name": "Colorful Kicks Block"
    }
  ]
}
{% endschema %}

<section class="colorful-kicks-section page-width">
  <div class="container">
    <div class="left">
    <div class="text-container">
      <h4 class="section-subheading">Step Into Style & Comfort</h4>
      <h2 class="section-heading">{{ section.settings.heading }}</h2>
      <p>{{ section.settings.text }}</p>
     </div>
      <div class="product-image-wrapper">
        <div class="bg-text">
          <div>COLOR</div>
          <div class="middle-content">Your</div>
          <div>WORLD</div>
        </div>
        {% if section.settings.product_image %}
          <img src="{{ section.settings.product_image | img_url: 'medium' }}" alt="Product" height="100%" width="100%">
        {% endif %}
      </div>
      {% if section.settings.button_link %}
              <a href="{{ section.settings.button_link }}" class="browse-btn">
                {{ section.settings.button_label }}
              </a>
            {% endif %}
    </div>
    <div class="right">
      {% if section.settings.lifestyle_image %}
        <img src="{{ section.settings.lifestyle_image | img_url: 'master' }}" alt="Lifestyle">
      {% endif %}
    </div>
  </div>
</section>

<style>
.colorful-kicks-section {
  padding-block: 50px;
}
.colorful-kicks-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
  margin: auto;
}
.colorful-kicks-section .container .left .text-container {
  max-width: 700px;
}
.colorful-kicks-section .section-heading {
      font-size: calc(25px + (60 - 25) * ((100vw - 360px) / (1920 - 360)));
      margin: 10px 0;
      line-height: 1.2;
      font-weight: 800;
}
.colorful-kicks-section .section-subheading {
   margin-block: 0;
}
.colorful-kicks-section .highlight {
  color: #ff3c00;
}
.colorful-kicks-section p {
  font-size: 16px;
  color: #333;
}
.browse-btn {
  display: inline-block;
  margin-top: 20px;
  background: #ff3c00;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}
.product-image-wrapper {
  position: relative;
  margin-top: 40px;
}
.product-image-wrapper .bg-text {
  position: absolute;
  color: #5d5d5d24;
  top: 42%;
  left: 7%;
  transform: translate(0, -50%);
  line-height: 1;
  text-align: center;
  z-index: 1;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 9px;
}
.product-image-wrapper .bg-text .middle-content {
     padding-left: 50%;
}
.product-image-wrapper img {
  position: relative;
  z-index: 2;
  max-width: 100%;
}
.colorful-kicks-section .right {
  flex: 1;
  min-width: 300px;
}
.colorful-kicks-section .right img {
  width: 100%;
  border-radius: 8px;
}
@media(max-width: 992px) {
.colorful-kicks-section .container {
  grid-template-columns: 1fr;
}
.product-image-wrapper .bg-text {
font-size: calc(45px + (120 - 45) * ((100vw - 360px) / (992 - 360)));
}
}
@media(min-width: 992px) {
.product-image-wrapper .bg-text {
font-size: calc(45px + (120 - 45) * ((100vw - 992px) / (1920 - 992)));
}
}
</style>
