{%- style -%}
   @media screen and (min-width: 768px)  {
      .interior-professionals .third-image {
          top: 100%;
          left: 100%;
          width: 36%;
          transform: translate(-100%, -100%);
          height: auto;
          bottom: unset;
          position: absolute;
        }
     .interior-professionals .first-image {
        top: 100%;
          left: 52%;
          width: 15%;
          transform: translate(-52%, -100%);
          height: auto;
          bottom: unset;
          position: absolute;
      }
        .interior-professionals .second-image {
          top: 0%;
          left: 65%;
          width: 25%;
          transform: translate(-65%, -0%);
          height: auto;
          bottom: unset;
          position: absolute;
        }
      .interior-professionals .content {
       width: 50%;
     }
     .interior-professionals img {
       border-radius: 50%;
       width: 100%;
       aspect-ratio: 1;
     }
     .interior-professionals::before {
       height: 80%;
     }
     .interior-professionals-wrapper {
       position: relative;
       display: flex;
       align-items: center;
       height: 100%;
       aspect-ratio: 16 / 9.6;
       max-width: 1500px;
        margin: auto;
     }
     .interior-professionals .content .link-btn {
       margin-bottom: 20px;
     }
   }
      @media screen and (max-width: 768px) {
        .interior-professionals .third-image,
        .interior-professionals .first-image,
        .interior-professionals .second-image {
          display: none;
        }
         .interior-professionals::before  {
           height: 100%;
         }
      }

      .interior-professionals {
        margin-top: 50px;
        padding-inline: 1.5rem;
        padding-block: 5rem;
        position: relative;
      }
     .interior-professionals::before {
       content: '';
       width: 100%;
       background: #edebe6;
       position: absolute;
       top: 0;
       z-index: -1;
       left: 0;
     }


      .interior-professionals .content .heading,
     .interior-professionals .content .sub-heading {
       font-weight: bold;
       margin-bottom: 20px;
       margin-top: 0;
     }
     .interior-professionals .content p {
       margin-bottom: 24px;
     }


      @media screen and (max-width: 992px) {
   .interior-professionals .content .heading {
     font-size: 24px
   }
      }
        @media screen and (min-width: 768px) {
          .interior-professionals {
            padding-inline: 3rem;
          }
        }
  @media screen and (min-width: 992px) {
           .interior-professionals {
            padding-inline: 5rem;
          }
        }
{%- endstyle -%}

<div class="interior-professionals">
  <div class="interior-professionals-wrapper">
    <div class="content">
      <h4 class="sub-heading">
        {{ sections['interior-professional'].subheading | t }}
      </h4>
      <h1 class="heading">
        {{ sections['interior-professional'].heading | t }}
      </h1>
      <p>
        {{ sections['interior-professional'].paragraph | t }}
      </p>
      <div class="link-btn">
        <a href="/pages/contact">Contact</a>
      </div>
    </div>
    <div class="first-image">
      <img
        src="{% if section.settings.image-1 %}{{ section.settings.image-1 | image_url: width: 800 }}{% else %}{{ 'placeholder.png' | asset_url }}{% endif %}"
        alt="Custom Image"
      >
    </div>
    <div class="second-image">
      <img
        src="{% if section.settings.image-2 %}{{ section.settings.image-2 | image_url: width: 800 }}{% else %}{{ 'placeholder.png' | asset_url }}{% endif %}"
        alt="Custom Image"
      >
    </div>
    <div class="third-image">
      <img
        src="{% if section.settings.image-3 %}{{ section.settings.image-3 | image_url: width: 800 }}{% else %}{{ 'placeholder.png' | asset_url }}{% endif %}"
        alt="Custom Image"
      >
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Get in touch",
  "settings": [
    {
     "type": "text",
      "id": "subheading",
      "label": "t:sections.interior-professionals.text.label1",
      "default": "t:sections.interior-professionals.text.default1"
    },

        {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
     {
     "type": "text",
      "id": "heading",
      "label": "t:sections.interior-professionals.label",
      "default": "t:sections.interior-professionals.default"
    },
     {
     "type": "text",
      "id": "paragrapgh",
      "label": "t:sections.interior-professionals.label2",
      "default": "t:sections.interior-professionals.default1"
    },
     {
      "type": "image_picker",
      "id": "image-1",
      "label": "t:sections.interior-professionals.image_picker.label2"
    },
     {
      "type": "image_picker",
      "id": "image-2",
      "label": "t:sections.interior-professionals.image_picker.label3"
    },
    {
      "type": "image_picker",
      "id": "image-3",
      "label": "t:sections.interior-professionals.image_picker.label4"
    },
  ],
    "presets": [
    {
      "name": "Get in touch",

    }
  ]

}
{% endschema %}
